\*{
    box-sizing:border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
   
}
/* Header */
.lognav{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #660000;
    position: sticky;
    top: 0;
    height: 50px;
}

/*menu*/
.nav{
    list-style-type:none;
    overflow: auto;
    margin:0;
    padding:0;
    width:20%;
    height:100%;
    background-color: #DCDCDC;
    position:fixed;
}

/*nav font*/
.nav a{
    display:flex;
    color:#5C5858;
    text-align:left;
    padding:25px 16px;
    text-decoration:none;
    gap:10px;
    align-items:center;
}
.nav a:hover{
    background-color:#E0E5E5;
    color:#8D918D;
}
/* subHeader */
.header{
    margin-left:25%;
    padding:1px 16px;
    height:1000px;
    
}


